.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    position: relative;
    color: white;
    padding: 10px;
    border: 1px solid #000000;
    overflow: hidden; 
    cursor: pointer;
}

.stars-container {
    display: flex; /* Para alinear las estrellas en fila */
}

.title-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.card-tagline {
    color: #6a737d;
}


main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}