.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    position: relative;
    color: white;
    padding: 10px;
    border: 1px solid #000000;
    overflow: hidden; 
    cursor: pointer;
}

.stars-container {
    display: flex; 
}

.title-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.card-tagline {
    color: #6a737d;
}


main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.detalles-container {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #4f545a;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.103); 
    z-index: 1000; 
    padding: 20px; 
    max-width: 90%; 
    overflow: auto; 
}

.detalles-container h2 {
    margin: 0 0 30px; 
    text-decoration: underline;
}

.detalles-container p {
    margin: 5px 0; 
}

.overlay {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

.container-genresMore {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.dropdown {
    position: relative; /* Asegúrate de que el contenedor esté posicionado */
    display: inline-block; /* Permitir que el botón se muestre en línea */
    z-index: 1002; /* Asegurarte de que esté por encima del overlay */
}


.dropdown-menu {
    position: absolute; /* Mantenerlo absoluto */
    top: 100%; /* Colocarlo justo debajo del botón */
    left: 0; /* Alinear a la izquierda del botón */
    z-index: 1003; /* Asegúrate de que esté sobre otros elementos */
    margin-top: 0; /* Asegúrate de que no tenga margen superior */
}

